{% extends "base_generic.html" %}

{% block title%}{{authorized.name}}{% endblock %}

{% block content %}

  {% if authorized %}
  <h1 class="jumbotron">{{authorized.name}}</h1>
    {% if authorized.dppc_id %}
      <button onclick="window.location='{% url 'leave_portal:dppc_detail_update' authorized.id %}'" type="button" class="btn btn-md ">Edit Detail</button>
    {% elif authorized.hod_id %}
      <button onclick="window.location='{% url 'leave_portal:hod_detail_update' authorized.id %}'" type="button" class="btn btn-md ">Edit Detail</button>
    {% elif authorized.staff_id %}
      <button onclick="window.location='{% url 'leave_portal:staff_detail_update' authorized.id %}'" type="button" class="btn btn-md ">Edit Detail</button>
    {% elif authorized.faculty_id %}
      <button onclick="window.location='{% url 'leave_portal:faculty_detail_update' authorized.id %}'" type="button" class="btn btn-md ">Edit Detail</button>
    {% endif %}
  <button onclick="window.location='{% url 'leave_portal:authorized_pending_request' %}'" type="button" class="btn btn-md ">Pending Requests</button>
  <button onclick="window.location='{% url 'account_logout' %}'" type="button" class="btn btn-md ">Log Out!!</button>
  {% endif %}

{% endblock %}
