{% extends "base_generic.html"%}

{% block content %}

  <h3 class="jumbotron">LogIn!!</h3>
  {% if error_message %}
    <h1 class="display-6">{{error_message}}</h1>
  {% else %}
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      Username:<input type="text" name="username" placeholder="bhencho naam bata!!">
      Password:<input type="password" name="password">
      <br>
      <input type="submit" value="Login!!">
      <a href="{% url 'signup' %}"><input type="button" value="SignUp"></a>
    </form>
  {% endif %}


{% endblock %}
